.app-blurry-square {
  position: absolute;
  z-index: 1;

  border-radius: 18px;
  filter: blur(8px);
  background: $illustration-square-bg;

  &-smallest {
    width: 22px;
    height: 22px;
  }

  &-small {
    width: 28px;
    height: 28px;
  }

  &-medium {
    width: 37px;
    height: 37px;
  }

  &-big {
    width: 44px;
    height: 44px;
  }

  &-bigger {
    width: 46px;
    height: 46px;
  }

  &-biggest {
    width: 65px;
    height: 65px;
  }
}
