.app-icon {
  fill: currentColor;

  transition: color 0.25s ease-in-out;

  &-smallest {
    width: 20px;
    height: 20px;
  }

  &-small {
    width: 30px;
    height: 30px;
  }

  &-medium {
    width: 53px;
    height: 53px;
  }

  &-big {
    width: 87px;
    height: 87px;
  }

  &-biggest {
    width: 152px;
    height: 152px;
  }

  &-white {
    color: $white;
  }

  &-muted {
    color: $muted;
  }
}
