.app-button {
  display: inline-block;
  padding: 25px;
  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 16px;

  outline: none;
  cursor: pointer;

  transition: opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &-primary {
    color: $white;

    background-color: $primary;

    box-shadow: 0 30px 60px rgba($primary, 0.25);

    &:hover {
      box-shadow: 0 20px 90px rgba($primary, 0.25);
    }
  }
}
