.app-ellipse {
  position: absolute;

  border-radius: 50rem;

  background: $illustration-ellipse-bg;

  &-small {
    width: 700px;
    height: 700px;
  }

  &-medium {
    width: 935px;
    height: 935px;
  }

  &-big {
    width: 935px;
    height: 935px;
  }

  &-biggest {
    width: 1090px;
    height: 1090px;
  }
}
