.auth-illustration {
  $text-zindex: 10;

  position: relative;
  height: 100vh;

  &-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 90px;

    overflow: hidden;
  }

  &-title {
    z-index: $text-zindex;

    margin-bottom: 10px;

    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.15em;
    color: rgba($white, 0.6);
  }

  &-description {
    z-index: $text-zindex;

    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: $white;
  }

  &-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    background: $bg-gradient;
  }

  &-icons {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }

  &-square {
    position: absolute;
    z-index: 1;

    border-radius: 18px;
    filter: blur(8px);
    background: $illustration-square-bg;
  }

  &-square-smallest {
    left: 705px;
    top: 309px;

    width: 22px;
    height: 22px;
  }

  &-square-small {
    left: 518px;
    top: 180px;

    width: 28px;
    height: 28px;
  }

  &-square-medium {
    left: 706px;
    top: 460px;

    width: 37px;
    height: 37px;
  }

  &-square-big {
    left: -30px;
    top: 306px;

    width: 44px;
    height: 44px;
  }

  &-square-bigger {
    left: 663px;
    top: 388px;

    width: 46px;
    height: 46px;
  }

  &-square-biggest {
    left: 687px;
    top: 187px;

    width: 65px;
    height: 65px;
  }
}
