.auth-illustration {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 90px;

  background: $bg-gradient;

  overflow: hidden;

  &-title {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.15em;
    color: $white;

    opacity: 0.6;
  }

  &-description {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: $white;
  }

  &-icons {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }

  &-icon {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;

    background: $illustration-icon-bg;
  }

  &-icon--is-alarm {
    top: 46%;
    left: 530px;

    width: 50px;
    height: 50px;
  }

  &-icon--is-lock {
    top: 30%;
    left: 58px;

    width: 60px;
    height: 60px;
  }

  &-icon--is-chat {
    top: 40%;
    left: 103px;

    width: 83px;
    height: 83px;
  }

  &-icon--is-fire {
    top: 28%;
    left: 546px;

    width: 117px;
    height: 117px;
  }

  &-icon--is-shtab-logo {
    top: 24%;
    left: 50%;

    width: 242px;
    height: 242px;

    transform: translateX(-50%);
  }

  &-square {
    position: absolute;

    border-radius: 18px;
    filter: blur(8px);
    background: $illustration-square-bg;
  }

  &-square--is-smallest {
    left: 705px;
    top: 309px;

    width: 22px;
    height: 22px;
  }

  &-square--is-small {
    left: 518px;
    top: 180px;

    width: 28px;
    height: 28px;
  }

  &-square--is-medium {
    left: 706px;
    top: 460px;

    width: 37px;
    height: 37px;
  }

  &-square--is-big {
    left: -30px;
    top: 306px;

    width: 44px;
    height: 44px;
  }

  &-square--is-bigger {
    left: 663px;
    top: 388px;

    width: 46px;
    height: 46px;
  }

  &-square--is-biggest {
    left: 687px;
    top: 187px;

    width: 65px;
    height: 65px;
  }

  &-ellipse {
    position: absolute;

    border-radius: 50rem;

    background: $illustration-ellipse-bg;
  }

  &-ellipse--is-small {
    left: 282px;
    top: 434px;
    z-index: 4;

    width: 700px;
    height: 700px;
  }

  &-ellipse--is-medium {
    left: 74px;
    top: 250px;
    z-index: 1;

    width: 935px;
    height: 935px;
  }

  &-ellipse--is-big {
    left: -134px;
    top: 66px;
    z-index: 2;

    width: 935px;
    height: 935px;
  }

  &-ellipse--is-biggest {
    left: -249px;
    top: -73px;
    z-index: 3;

    width: 1090px;
    height: 1090px;
  }
}
