.icon {
  fill: currentColor;

  transition: color 0.25s ease-in-out;

  &--is-smallest {
    width: 20px;
    height: 20px;
  }

  &--is-small {
    width: 30px;
    height: 30px;
  }

  &--is-medium {
    width: 53px;
    height: 53px;
  }

  &--is-big {
    width: 87px;
    height: 87px;
  }

  &--is-biggest {
    width: 152px;
    height: 152px;
  }

  &--is-white {
    color: $white;
  }
}
