$primary: #4f46e5;
$black: #000000;
$white: #ffffff;

$bg-gradient: linear-gradient(180deg, #3730A3 0%, #312E81 100%);
$illustration-icon-bg: linear-gradient(180deg, rgba(79, 70, 229, 0.4) 0%, rgba(79, 70, 229, 0) 100%);
$illustration-square-bg: linear-gradient(180deg, rgba(107, 99, 235, 0.4) 0%, rgba(79, 70, 229, 0) 100%);
$illustration-ellipse-bg: linear-gradient(140.4deg, rgba(255, 255, 255, 0.01) 16.29%, rgba(255, 255, 255, 0) 63.17%);

$controls-bg: #f3f4f6;
