/* alerts-list */

.alerts-list-move,
.alerts-list-enter-active,
.alerts-list-leave-active {
  transition: all 0.5s ease;
}

.alerts-list-enter-from,
.alerts-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.alerts-list-leave-active {
  position: absolute;
}

/* fade */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
